table, th,td{
  border: 1px solid white;
  padding: 8px;
  border-collapse: collapse;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


